1. Write a Python program to print 'Hello, World!'.

In [ ]:
def printHello():
  print("Hello, World!")

printHello()

Hello, World!

2. Write a Python program to add two numbers.

In [ ]:
def addTwoNum(a,b):
  try:
    c=a+b
    return c
  except:
    return "Error"

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print(addTwoNum(a,b))

Enter first number: 5
Enter second number: 6
11

3. Write a Python program to find the square root of a number.

In [ ]:
import math
def sqrt(a):
  try:
    ans=math.sqrt(a)  #or ans=a**0.5
    return ans
  except:
    return "Error"

a=int(input("Enter a number: "))
print(sqrt(a))

Enter a number: 144
12.0

4. Write a Python program to calculate the area of a triangle.

In [ ]:
def calculateArea(a,b,c):
  try:
    s=(a+b+c)/2
    area=(s*(s-a)*(s-b)*(s-c))**0.5
    return area
  except:
    return "Error"

a=int(input("Enter first side: "))
b=int(input("Enter second side: "))
c=int(input("Enter third side: "))
print(calculateArea(a,b,c))

Enter first side: 5
Enter second side: 5
Enter third side: 5
10.825317547305483

5. Write a Python program to swap two variables.

In [ ]:
def swap(a,b):
  try:
    temp=a
    a=b
    b=temp
    return a,b
  except:
    return "Error"

a=input("Enter first number: ")
b=input("Enter second number: ")
print(swap(a,b))

Enter first number: 654
Enter second number: cjbc
('cjbc', '654')

6. Write a Python program to generate a random number.

In [ ]:
import random

def generate():
  return random.randint(1,10)

print(generate())

5

7. Write a Python program to convert kilometers to miles.

In [ ]:
def convert(n):
  try:
    m=n*0.621371
    return m
  except:
    return "Error"

n=int(input("Enter distance in kilometers: "))
print(convert(n))

Enter distance in kilometers: 1
0.621371

8. Write a Python program to check if a number is positive, negative or zero.

In [ ]:
def check(n):
  try:
    if n>0:
      return "Positive"
    elif n<0:
      return "Negative"
    else:
      return "Zero"
  except:
    return "Error"

n=int(input("Enter a number: "))
print(check(n))

Enter a number: -15
Negative

9. Write a Python program to check if a number is odd or even.

In [ ]:
def checkOddEven(n):
  try:
    if n%2==0:
      return "Even"
    else:
      return "Odd"
  except:
    return "Error"

n=int(input("Enter a number: "))
print(checkOddEven(n))

Enter a number: 19
Odd

10. Write a Python program to check if a year is a leap year.

In [ ]:
def checkLeap(n):
  try:
    if n%4==0 and n%100!=0 or n%400==0:
      return "Leap Year"
    else:
      return "Not a Leap Year"
  except:
    return "Error"

n=int(input("Enter a year: "))
print(checkLeap(n))

Enter a year: 1900
Not a Leap Year

11. Write a Python program to find the largest of three numbers.

In [ ]:
def findLargest(a,b,c):
  if(a>b):
    if(a>c):
      return a
    else:
      return c
  else:
    if(b>c):
      return b
    else:
      return c

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
print(findLargest(a,b,c))

Enter first number: 56
Enter second number: 54
Enter third number: 12
56

12. Write a Python program to find the factorial of a number.

In [ ]:
def findfactorial(n):
  if(n==1):
    return 1

  return n*findfactorial(n-1);

n=int(input("Enter a number: "))
print(findfactorial(n))

Enter a number: 6
720

13. Write a Python program to display the multiplication table.

In [ ]:
def displayTable(n):
  for i in range(1,11):
    print(n,"X",i,"=",n*i)

n=int(input("Enter a number: "))
displayTable(n)

Enter a number: 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

14. Write a Python program to print the Fibonacci sequence.

In [ ]:
def fibo(n):
  a=0
  b=1
  for i in range(n):
    c=a+b
    a=b
    b=c
    print(a)

n=int(input("Enter a number: "))
fibo(n)

Enter a number: 6
1
1
2
3
5
8

15. Write a Python program to check if a number is an Armstrong number.

In [ ]:
def order(n):
  a=0
  while(n>0):
    a=a+1
    n=n//10
  return a

def checkAmstrong(n):
  sum=0
  temp=n
  while(temp>0):
    digit=temp%10
    sum=sum+digit**order(n)
    temp=temp//10
  return (sum==n)

n=int(input("Enter a number: "))
print(checkAmstrong(n))

Enter a number: 1634
True

16. Write a Python program to find the sum of natural numbers.

In [ ]:
def sumNaturals(n):
  if(n==1):
    return 1;

  return n+sumNaturals(n-1);

n=int(input("Enter a number: "))
print(sumNaturals(n))

Enter a number: 20
210

17. Write a Python program to find the sum of digits of a number.

In [ ]:
def sumOfDigits(n):
  sum=0
  while(n>0):
    sum=sum+n%10
    n=n//10
  return sum

n=int(input("Enter a number: "))
print(sumOfDigits(n))

Enter a number: 654
15

18. Write a Python program to reverse a number.

In [ ]:
def reverseNum(n):
  rev=0
  while(n>0):
    rev=rev*10+n%10
    n=n//10
  return rev

n=int(input("Enter a number: "))
print(reverseNum(n))

Enter a number: 6548
8456

19. Write a Python program to convert decimal to binary, octal and hexadecimal.

In [ ]:
def convertToBinary(n):
  return bin(n)

def convertToOctal(n):
  return oct(n)

def convertToHexadecimal(n):
  return hex(n)

n=int(input("Enter a number: "))
print(convertToBinary(n))
print(convertToOctal(n))
print(convertToHexadecimal(n))

Enter a number: 10
0b1010
0o12
0xa

20. Write a Python program to find HCF or GCD of two numbers.

In [ ]:
def HCF(a,b):
  if(b==0):
    return a
  else:
    return HCF(b,a%b)

def GCD(a,b):
  while(b!=0):
    temp=b
    b=a%b
    a=temp
  return a

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print(HCF(a,b))
print(GCD(a,b))

Enter first number: 12
Enter second number: 56
4
4

21. Write a Python program to find LCM of two numbers

In [1]:
def gcd(a,b):
    if a == 0:
        return b
    return gcd(b % a, a)

def LCM(a,b):
  return (a*b)//gcd(a,b)

a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print(LCM(a,b))

Enter first number: 15
Enter second number: 20
60

22. Write a Python program to count the number of each vowel in a string.

In [3]:
def count(s):
  countA=0
  countE=0
  countI=0
  countO=0
  countU=0

  for i in s:
    if(i=='a' or i=='A' ):
      countA=countA+1
    elif(i=='e' or i=='E' ):
      countE=countE+1
    elif(i=='i' or i=='I' ):
      countI=countI+1
    elif(i=='o' or i=='O' ):
      countO=countO+1
    elif(i=='u' or i=='U' ):
      countU=countU+1

  return countA,countE,countI,countO,countU

s=input("Enter a string: ")
print(count(s))

Enter a string: CBA VNCDSAEIOUIOEA
(3, 2, 2, 2, 1)

23. Write a Python program to remove punctuation from a string.

In [4]:
def remove(s):
  punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  no_punct = ""
  for char in s:
    if char not in punctuations:
      no_punct = no_punct + char
  return no_punct

s=input("Enter a string: ")
print(remove(s))

Enter a string: c,jsa;[].'/]vevew
cjsavevew

24. Write a Python program to sort a list of numbers in ascending order.

In [5]:
def sort(li):
  li.sort()
  return li

li=[]
n=int(input("Enter number of elements: "))
for i in range(0,n):
  ele=int(input())
  li.append(ele)

print(sort(li))

Enter number of elements: 5
2
3
56
15
91
[2, 3, 15, 56, 91]

25. Write a Python program to merge two lists and sort it.

In [6]:
def merge(li1,li2):
  li1.extend(li2)
  li1.sort()
  return li1

li1=[]
li2=[]
n1=int(input("Enter number of elements in l1 : "))
for i in range(0,n1):
  ele=int(input())
  li1.append(ele)

n2=int(input("Enter number of elements in l2 : "))
for i in range(0,n2):
  ele=int(input())
  li2.append(ele)

print(merge(li1,li2))

Enter number of elements in l1 : 3
15
16
21
Enter number of elements in l2 : 2
9
40
[9, 15, 16, 21, 40]