In [1]:
def hello():
    print("Hello from python")

In [2]:
hello()

Hello from python

In [4]:
def greet(name):
    print("Good Morning",name,"\n\tHave a nice day")

greet("mrugank")

Good Morning mrugank
	Have a nice day

In [9]:
def inc(salary):
    if(salary<4000):
        return (salary+1000)
    else:
        return (salary)


print(inc(2000))

3000

In [10]:
def sum(a,b,c):
    return a+b+c;

print(sum(2,3,5))

10

In [11]:
add_num = lambda x:x+20

add_num(50)

70

In [13]:
divide = lambda x,y:x/y

divide(10,6)

1.6666666666666667

In [14]:
def show_args(*args):
    for i in args:
        print(i)

show_args("mrugank",39)

mrugank
39

In [18]:
def func(**kwargs):
    for key,value in kwargs.items():
        print(key,"=>",value)

func(name=['mrugank'],marks=[39,96],city=['mumbai','delhi'])

name => ['mrugank']
marks => [39, 96]
city => ['mumbai', 'delhi']

In [20]:
a="my name is mrugank"
print(a)
print(a[0])
print(a[2])
print(a[1:5])
print(a[:4])
print(a[4:])
print(a[-1])
print(a[-2])

my name is mrugank
m

y na
my n
ame is mrugank
k
n

In [22]:
def grace(marks):
    if marks==33:
        return 35
    elif marks==34:
        return 35
    else:
        return marks

score=[47,58,69,14,25,33,34,33,33,34,33]
li=list(map(grace,score)) 
print(li)

[47, 58, 69, 14, 25, 35, 35, 35, 35, 35, 35]

In [23]:
def fill(marks):
    if marks<35:
        return marks
    
score=[47,58,69,14,25,33,34,33,33,34,33]

failed=list(filter(fill,score))
print(failed)

[14, 25, 33, 34, 33, 33, 34, 33]

In [24]:
list(map(lambda var:var%2==0,[5,6,8]))

[False, True, True]

In [25]:
list(filter(lambda var:var%2==0, [5,6,8]))

[6, 8]