range fucntion

In [1]:
print(range(6))

range(0, 6)

In [2]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [4]:
print(list(range(1,16,2)))

[1, 3, 5, 7, 9, 11, 13, 15]

In [5]:
lst=list(range(1,18,3))
print(lst)

[1, 4, 7, 10, 13, 16]

In [7]:
reverse=list(range(100,1,-5))
print(reverse)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

loop function

In [8]:
nums=[5,9,5231,14,14,3]
for num in nums:
    print(num)

5
9
5231
14
14
3

In [10]:
for num in nums:
    if num>1000:
        print("greater than 1000 by", num-1000)
    else:
        print("less than 1000 by",1000-num)

less than 1000 by 995
less than 1000 by 991
greater than 1000 by 4231
less than 1000 by 986
less than 1000 by 986
less than 1000 by 997

In [11]:
salary=[1000,2000,3000,5000,7000,1000,2000,9000]
sal=[val for val in salary if val<5000]
print(sal)

[1000, 2000, 3000, 1000, 2000]

In [12]:
for num in range(10,15):
    for i in range(1,6):
        print(num*i)
        if i==5:
            print("\n")
else:
    print('='*20)
    print("completed ")
    print('='*20)

10
20
30
40
50


11
22
33
44
55


12
24
36
48
60


13
26
39
52
65


14
28
42
56
70


====================
completed
====================

In [13]:
num = int(input("enter a number to get table"))
for i in range(1,11):
    print(num,"X",i,"=",num*i)

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [14]:
num = int(input("enter a number to get table"))
for i in range(1,11):
    print(f"{num}X{i}={num*i}")

6X1=6
6X2=12
6X3=18
6X4=24
6X5=30
6X6=36
6X7=42
6X8=48
6X9=54
6X10=60

In [15]:
i=0
while(i<10):
    print(i*2)
    i+=1

0
2
4
6
8
10
12
14
16
18

In [16]:
import time
result = time.localtime()
print(result)

time.struct_time(tm_year=2024, tm_mon=7, tm_mday=3, tm_hour=19, tm_min=4, tm_sec=17, tm_wday=2, tm_yday=185, tm_isdst=0)

In [18]:
while True:
    result=time.localtime()
    if result.tm_hour==19 and result.tm_min==6:
        print("timeup")
        break

timeup

In [25]:
lst=['mrugank','pranav','manoj']
for i in enumerate(list):
    print(i)

(0, 'mrugank')
(1, 'pranav')
(2, 'manoj')

In [26]:
for i,name in enumerate(lst,5):
    print(i,name)

5 mrugank
6 pranav
7 manoj

In [35]:
name = ['mrugank', 'pranav']
marks = [16, 27]
zipped_details = list(zip(name, marks))
print(zipped_details)

TypeError: 'list' object is not callable

In [36]:
sal=[52,62,85,95]
for val in sal:
    if val==85:
        break
    print(val)

52
62

In [38]:
for val in sal:
    if val==62:
        continue
    print(val)

52
85
95