Tuple

In [1]:
location=('mumbai','delhi','indore','ranchi')
print(location)
print(type(location))

('mumbai', 'delhi', 'indore', 'ranchi')
<class 'tuple'>

In [2]:
location=list(location)
location.append('jabalpur')
location=tuple(location)
print(location)

('mumbai', 'delhi', 'indore', 'ranchi', 'jabalpur')

In [3]:
len(location)

5

In [4]:
print(location[0])
print(location[1])
print(location[2])
print(location[3])
print(location[4])

mumbai
delhi
indore
ranchi
jabalpur

In [6]:
numbers=(50,60,40,90,80,70,60,50,40,70,10,20,30,7,50,50)
print(numbers)
print("1st index of 50 is",numbers.index(50))
print("count of 50 is",numbers.count(50))

(50, 60, 40, 90, 80, 70, 60, 50, 40, 70, 10, 20, 30, 7, 50, 50)
1st index of 50 is 0
count of 50 is 4

Set

In [7]:
numbers=set()
print(type(numbers))
numbers.add(5)
print(numbers)
numbers.add(10)
numbers.add(5)
print(numbers)

<class 'set'>
{5}
{10, 5}

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,1,2,3,4,56,789,12,74,74,85,96,74,85,96,4,1,52,63,52,41,56,56]
remove_duplicate = set(numbers)
print(remove_duplicate)

{96, 1, 2, 3, 4, 5, 6, 7, 8, 9, 74, 41, 12, 52, 789, 85, 56, 63}

Dictionary

In [9]:
my_dict={'1':'one','2':'two'}
print(my_dict)
print(my_dict['1'])

{'1': 'one', '2': 'two'}
one

In [10]:
my_dict={'Roll Number':123,'Subjects':['Maths','science','Computer'],'Marks':[24,29,25]}
print(my_dict)

{'Roll Number': 123, 'Subjects': ['Maths', 'science', 'Computer'], 'Marks': [24, 29, 25]}

In [11]:
print(my_dict['Subjects'][0])
print(my_dict['Subjects'][2])

Maths
Computer

In [12]:
my_dict['Subjects'][1].upper()

'SCIENCE'

In [13]:
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 29, 25]}

In [14]:
my_dict['Marks'][1]=my_dict['Marks'][1]+6
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 35, 25]}

In [15]:

my_dict['Year']=2021
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 35, 25],
 'Year': 2021}

In [16]:
my_dict.update({'Year':2020})
my_dict

{'Roll Number': 123,
 'Subjects': ['Maths', 'science', 'Computer'],
 'Marks': [24, 35, 25],
 'Year': 2020}

In [17]:
my_dict.items()

dict_items([('Roll Number', 123), ('Subjects', ['Maths', 'science', 'Computer']), ('Marks', [24, 35, 25]), ('Year', 2020)])

# Branching

In [18]:
i=5
if i<10:
    print("smaller")
else :
    print("larger")

smaller

In [20]:
print("smaller" ) if i<10 else print("larger")

smaller

In [21]:
a=500
b=400

if(a+b<700):
    print("less")
else:
    print(a+b-700,"extra")

200 extra

In [22]:
marks=70

if marks>50:
    if marks>75:
        print("good")
    else:
        print("okay")
else:
    print("bad")

okay

In [23]:
a=5
b=7

if(a>b):
    print("a is greater")
else:
    print("b is greater")

b is greater